/* Ajusta el border-radius para los campos de texto */
.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-radius: 2px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 2px;
}

/* Ajusta el border-radius para los botones */
.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  border-radius: 2px;
}
